/** {

    border: red 1px solid;
}*/

.wrapper {
  height: 500px;
  width:50%;
  margin: auto;
  position: relative;
}

.road {

  height: 80px;
  width:100%;
  background-color: grey;
  background-image: url(roadimage1.jpg);

}

.sidewalk {

  height:40px;
  width:100%;
  background-color: white;

}


/* {

    max-width:130%; 
    max-height:130%;
    margin:auto;
    display:block;

}*/

.carMoveLeft img, .carMoveRight img, .logMoveLeft img, .logMoveRight img {

    max-width:130%; 
    max-height:130%;
    margin:auto;
    display:block;

}



.carMoveRight, .logMoveRight {

  height: 15px;
  width: 30px;
  position: absolute;
  left: 0;

}


.carMoveLeft, .logMoveLeft {

  height: 15px;
  width: 30px;
  position: absolute;
  right: 0;

}

.spacingGap {

  width: 100%;
  height: 60px;
  background-color: grey;
  background-image: url(roadimage1.jpg);

}

.streamGap {

  width: 100%;
  height: 10px;
  background-color: blue;

}

.stream {

  height: 80px;
  width:100%;
  background-color: blue;

}

#frog {

  height: 25px;
  width: 25px;
  position: relative;
  left: 280px;

}

#frog img {

    max-width:130%; 
    max-height:130%;
    margin:auto;
    display:block;

}

.scoreboard {

  width:20%;
  height: 400px;
  position:relative;
  float: left;
  margin-left: 50px;

}

#player1, #player2{

  width: 45%;
  height:100px;
  background-color: #345d00;
  position: relative;
  float: left;
  text-align: center;
  font-size: 20px;
  color: white;
  border: white 3px solid;

}

#winarea {

  width: 100%;
  height:30px;
  background-color: #345d00;

}

h1, h2 {

  text-align: center;
  margin-bottom: 10px;
  color: #345d00;

}

 h3 {

  text-align: center;
  color: #345d00;
  display: inline-block;

}

#score1, #score2 {

  margin-top: 10px;

}

.difficulty {

  margin-top: 20px;
  text-align: center;

}

button {
  width:80px;
  display: inline-block;
  margin:10px;
}


#splashscreen {
    background-color: #345d00;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
}

#start {

  font-size: 200px;
  text-align: center;
  color: #ccffbb;

}

#game {

  width: 100%;
  height:80%;
}






